div.appview-container.st-emotion-cache-1yiq2ps.ea3mdgi9{
    background-image: url("https://ucsdnews.ucsd.edu/news_uploads/heart-stiff-arrhythmia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: hsl(70, 83%, 67%);
}
h3{
    color:rgb(241, 205, 40);
}

p{
    color:white;
}
.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color:orangered;
}
div.st-emotion-cache-vdokb0.e1nzilvr4{
    color:orangered;
}
