div.appview-container.st-emotion-cache-1yiq2ps.ea3mdgi9{
    background-image: url("https://media.licdn.com/dms/image/D5612AQFTmcnOkh6_8Q/article-cover_image-shrink_720_1280/0/1663775961726?e=1723680000&v=beta&t=jqehDS0Wh_dXpA8MVE0O88AbxqlKB7ZVcxxRL4jF_-c");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: hsl(70, 83%, 67%);
}
h3{
    color:rgb(241, 205, 40);
}

p{
    color:white;
}
.st-emotion-cache-7ym5gk.ef3psqc12{
    background-color:orangered;
}
div.st-emotion-cache-vdokb0.e1nzilvr4{
    color:orangered;
}
